body{
    background: url("../img/cielo.jpg ");
    background-attachment: fixed;/*Como para que la imagen de fondo siempre este acomodada?*/
}

#logo{
    background-color: #1F87C4;
}
#menu ul li:hover{
    background-color: #1F87C4;
}

.button-more {
   background: #1F87C4;
}