body{
    background: url("../img/hojas.jpg ");
    background-attachment: fixed;/*Como para que la imagen de fondo siempre este acomodada?*/
}

#logo{
    background-color: #235e3D;
}
#menu ul li:hover{
    background-color: #235e3D;
}

.button-more {
   background: #235e3D;
}