body{
    background: url("../img/rojo.jpg ");
    background-attachment: fixed;/*Como para que la imagen de fondo siempre este acomodada?*/
}

#logo{
    background-color: #CA3413;
}
#menu ul li:hover{
    background-color: #CA3413;
}

.button-more {
   background: #CA3413;
}