.altoPrecio{
    color: gray;
    font-size: 18px;
}

.fondoRojo{
    background: rgb(146, 74, 74);
}

.subrayado{
    text-decoration: underline;
}

.active{
    border: 3px solid rgb(179, 149, 18);
    color: rgb(179, 149, 18);
    padding: 2px;
}