<div [ngStyle]="{
  'background' : config.fondo,
  'padding' : '20px',
  'border' : '5px solid black',
  'border-color' : config.color
  
}">

  <h1>Bienvenido a {{title}} !!!</h1>
  <router-outlet></router-outlet>
  <!--Se carga dentro de el el componente que se le indique desde la ruta-->
  <!-- <p>Descripcion importado/exportado = > {{descripcion}}</p>

  <p>Uso de componenete videojuego...</p>
  <videojuego *ngIf="mostrarVideoJuegos"></videojuego>
  <button (click)="ocultarVideoJuegos(false)" *ngIf="mostrarVideoJuegos"> ocultarVideojuegos</button>
  <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrarVideoJuegos">mostrar_VideoJuegos</button>
  <zapatillas></zapatillas>
  <cursos></cursos> -->
</div>
